

#text{
    color: #777;
}

#margin-text{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

#margin-a{
    margin-top: 2%;
    width: 40%;
    color: #777;
    text-align: center;
    margin-bottom: 4%;
}

#dep-withd-row{
  
}

#margin-text2{
    margin-top: 2%;
    font-weight: bold;
    
}



#margin-b{
   
    text-align: center;
}

#margin-c{
    margin: auto;
    color: #777;
    font-size:14px
}
